
.delete-league-container {
    height: 10rem;
    width: 30rem;
    background-color: var(--background-clr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-content {
    width: 5rem;
}

#delete-league {
    background-color: #ff4d4d;
    color: white;
}

