.create-league-button-container {
    padding: 4rem 12rem;
}

.create-league-button {
    border: 1px solid;
    box-shadow: 2px 2px 2px white;
    color: #282a36;
    font-size: 16px;
    font-weight: bold;
	background-color: var(--first-clr);
    justify-content: center;
    height: 55px;
    width: 300px;
}

.league-page-header {
    padding-top: 14rem;
	padding-left: 8rem;
    color: white;
	font-size: var(--fs-x-large);
}


.league-list-container {
	padding: 2rem 12rem;
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 6rem;
}

.league-info-text {
	gap: 6rem;
}

.league-spot-container {
	position: relative;
	border: solid 2px gray;
	display: flex;
	flex-direction: row; /* Ensure the image and text are side by side */
	border-radius: 12px;
	transition: box-shadow 0.3s ease;
	height: 12rem;
	max-height: 200px;
	cursor: pointer;
	width: 450px;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}

.edit-button {
	width: 5rem;
	background-color: #1f456e;
	color: white;
}

.delete-button {
	width: 5rem;
	background-color: #ff4d4d;
	color: white;
}
