.team-form-container {
    background-color: var(--background-clr);
    border: 2px white;
    border-radius: 10px white;
    color: black;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 40rem;
  }

  .team-form-title {
    color: var(--second-clr);
    font-family: var(--ff-primary);
  }

  .team-form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 20rem;
  }

  .input-area-team-name {
    background-color: white;
    width: 15rem;
    height: 1.5rem;
  }

  .team-image-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .preview-img {
    max-width: 50%;
    max-height: 120rem; /* Adjust the max height as needed */
    border-radius: 5px;
    object-fit: cover;
  }

  .submit-button {
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    color: black;
    font-family: var(--ff-primary);
    font-size: 16px;
    font-weight: bold;
    background-color: var(--second-clr);
    justify-content: center;
    height: 3rem;
    width: 15rem;
  }

  .name-validation-error {
    color: var(--third-clr);
  }
