
.create-button-container {
    padding: 4rem 12rem;
}

.create-review-button {
    border: 1px solid;
    box-shadow: 2px 2px 2px white;
    color: #282a36;
    font-size: 16px;
    font-weight: bold;
	background-color: var(--first-clr);
    justify-content: center;
    height: 55px;
    width: 300px;
}

.team-page-header {
    padding: 12rem;
    color: white;
	font-size: var(--fs-x-large);
}



.team-list-container {
	padding: 2rem 12rem;
    display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 6rem;
}

.team-spot-container {
	position: relative;
	border: solid 2px gray;
	display: flex;
	flex-direction: row; /* Ensure the image and text are side by side */
	border-radius: 12px;
	transition: box-shadow 0.3s ease;
	height: auto;
	max-height: 200px;
	cursor: pointer;
	width: 600px;
	overflow: hidden;
}
