.sign-up-form-container {
    background-color: var(--background-clr);
    border: 2px white;
    border-radius: 10px white;
    color: black;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 65rem;
    gap: 2rem;
  }

  .sign-up-form-title {
    color: var(--second-clr);
    font-family: var(--ff-primary);
  }

  .sign-up-form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 20rem;
  }

  .input-section {
    background-color: white;
    width: 20rem;
    height: 1.5rem;
  }

  .submit-button {
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    color: black;
    font-family: var(--ff-primary);
    font-size: 16px;
    font-weight: bold;
    background-color: var(--second-clr);
    justify-content: center;
    height: 3rem;
    width: 15rem;
  }

  .validation-error-msg {
    color: var(--third-clr);
  }
