/* TODO: Add sitewide styles */

:root {
	/* ! DEFAULT FONT-SIZES */
	--fs-small: 14px;
	--fs-medium: 22px;
	--fs-large: 32px;
	--fs-x-large: 68px;

	/* ! DEFAULT FONT WEIGHTS */
	--fw-light: 200;
	--fw-medium: 500;
	--fw-heavy: 700;
	--fw-bold: 900;

	/* ! FONT FAMILIES */
	--ff-headings: 'Montserrat', sans-serif;
	--ff-primary: 'Roboto Mono', monospace;
	/* ! COLORS */
	--first-clr: #51ee71;
	--second-clr: #e9eba0;;
	--third-clr: #8ddbf2;
	--fourth-clr: #e9b054;
	--fifth-clr: #e5b0f4;

}

body,
h1,
h2,
h3,
p,
a,
li,
img,
label {
	margin: 0;
	padding: 0;
}

body {
	background-color: #282a36;
}

h1,
h2,
h3,
p {
	color: var(--second-clr);
}

h1 {
	font-size: var(--fs-x-large);
	font-family: var(--ff-headings);
	color: var(--second-clr);
}

h2 {
	font-size: var(--fs-large);
	font-family: var(--ff-headings);
	color: var(--second-clr);
}

h3 {
	font-size: var(--fs-medium);
	font-family: var(--ff-primary);
	color: var(--second-clr);
}

p,
label {
	font-size: var(--fs-small);
	font-family: var(--ff-primary);
	color: white;
}

a {
	text-decoration: none;
	font-family: var(--ff-primary);
}

li {
	list-style: none;
	font-family: var(--ff-primary);
	/* color: white; */
}

button {
	border-radius: 12px;
	cursor: pointer;
}
