.profile-icon {
    font-size: 3rem;
}

.profile-icon-button {
    font-size: 2rem;
    background: var(--background-clr);
    border: none;
    color: var(--third-clr);
}

.logout-button {
    width: 6rem;
    border: 2px solid black;
    background-color: var(--third-clr);
    color: black;
}
